 /* 1. COR DE FUNDO ALTERADA para #468cee */
        body {
            /* Alterado de gradiente para cor sólida */
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .box {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
        }

        input[type="text"] {
            font-size: 24px;
            border: none;
            margin-bottom: 20px;
        }

        button {
            display: inline-block;
            /* Cor de fundo do botão no style.css original. Mantendo para o #copiar (embora não usado) */
            background-color: #00b4db; 
            color: #fff;
            border: none;
            border-radius: 25px;
            font-size: 18px;
            padding: 10px 20px;
            cursor: pointer;
            margin-right: 10px;
        }

        #copiar {
            background-color: #0083b0;
        }

        @media screen and (max-width: 600px) {
            .box {
                width: 80%;
                height: 300px;
            }
            
            input[type="text"] {
                width: 90%;
                height: 50px;
                font-size: 28px;
            }
            
            button {
                padding: 12px 24px;
                font-size: 20px;
            }
        }